<nav  class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><span>Patient ID : </span>{{patientdetails.patientID}}</a>
    <a class="navbar-info" href="#">PatientID</a>
  </div>
</nav><hr>

<h5>Verify patient Details</h5>

<div class="container-fluid">
  <form>
    <div class="mb-4">
      <label for="patientName" class="form-label">Patient Name</label>
      <input 
        type="text"
        class="form-control"
        id="patientName"
        autocomplete="off"
        value={{patientdetails.patientName}}
        [(ngModel)]="patientdetails.patientName"
        
      />
    </div>
    <div class="mb-4">
      <label for="patientID" class="form-label">PatientID</label>
      <input
        type="text"
        class="form-control"
        id="patientID"
        autocomplete="off"
        value= {{patientdetails.patientID}}
        [(ngModel)]="patientdetails.patientID"
      />
    </div>
    <div class="mb-4">
      <label for="mobile" class="form-label">Mobile</label>
      <input
        type="text"
        class="form-control"
        id="mobile"
        autocomplete="off"
        value={{patientdetails.mobile}}
        [(ngModel)]="patientdetails.mobile"
      />
    </div>
    <div class="mb-4">
      <label for="age" class="form-label">Age</label>
      <input
        type="text"
        class="form-control"
        id="age"
        autocomplete="off"
        value={{patientdetails.age}}
        [(ngModel)]="patientdetails.age"
      />
    </div>
    <div class="mb-4">
      <label for="dateofconsent" class="form-label">Date of consent</label>
      <input
        type="date"
        class="form-control"
        id="dateofconsent"
        autocomplete="off"
        value={{patientdetails.dateofconsent}}
        [(ngModel)]="patientdetails.dateofconsent"

      />
    </div>
    <div class="mb-4">
      <label for="gender" class="form-label">Gender</label>
      <input
        type="text"
        class="form-control"
        id="gender"
        autocomplete="off"
        value={{patientdetails.gender}}
        [(ngModel)]="patientdetails.gender"
      />
    </div>
    <div class="mb-4">
      <label for="SEMID" class="form-label">SEMID</label>
      <input
        type="text"
        class="form-control"
        id="SEMID"
        autocomplete="off"
        value={{patientdetails.SEMID}}
        [(ngModel)]="patientdetails.SEMID"
      />
    </div>
    <div class="mb-4">
      <label for="dailycigarettecount" class="form-label">Daily Cigarette Count</label>
      <input
        type="text"
        class="form-control"
        id="dailycigarettecount"
        autocomplete="off"
        value={{patientdetails.dailyCigarettesCount}}
        [(ngModel)]="patientdetails.dailyCigarettesCount"
      />
    </div>
   
    <button type="submit" class="btn btn-primary"(click)="OnSave()">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-danger"(click)="OnCancel()">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-secondary"(click)="OnBack()">Back</button>
  </form>
</div>
